body {
    margin: 0;
    padding: 0;
    background-color: #303030;
    font-family: Arial, serif;
    height: 100vh;
}

/* Sign In Panel */
#signInBlock {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    color: #ffffff;
}


#userGreet {
    font-size: 75px;
}

#signInButton {
    color: #ffffff;
    background-color: #429100;
    border: none;
    font-size: 50px;
    padding: 15px;
    border-radius: 15px;
}

/* Content alignment */

.baseDiv {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;

    display: grid;
    grid-template: auto 1fr / auto 1fr;

    text-align: center;

    color: #ffffff;
    font-size: 35px;
    border: 1px black;
}

.contentDiv {
    position: relative;
    border: 1px black;
}

.topContent {
    grid-column: 1 / 4;
}
.leftContent {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr auto;
}

.centerContent {
    grid-column: 2 / 3;
    display: grid;
    grid-template: auto 1fr auto / auto;
}

.rightContent {
    overflow-y: auto;
    position: absolute;
    right: 0;
}

.topContent, .rightContent, .leftContent, .infoContent {
    background-color: #242424;
}

/* Center part (main + send) */

.mainContent {
    overflow-y: scroll;
}

.bottomContent {
    width: inherit;
}

/* Styling of send box */

#messageInputBox {
    background-color: #4f4f4f;
    color: #ffffff;

    text-align: left;

    --padding-amount: 10px;
    --margin-amount: 15px;

    width: calc(100% - (var(--margin-amount) * 2) - (var(--padding-amount) * 2));
    height: calc(100% - (var(--margin-amount) * 2) - (var(--padding-amount) * 2));
    font-size: 15px;
    border: none;
    vertical-align: top;
    outline: none;
    border-radius: 10px;
    padding: var(--padding-amount);
    margin: var(--margin-amount);
}

#messageInputBox:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    color: rgba(255, 255, 255, 0.5)
}

::placeholder {
    color: #ffffff;
    opacity: 0.5;
}

/* Message container */
#displayMessages {
    min-height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.message {
    text-align: left;
    margin: 0;
    width: 100%;

    padding: 0;
    padding-top: 7px;
}

.messageContainer {
    float: left;
    padding-left: 10px;
    width: calc(100% - 50px - 10px)
}

.messageHeader {
    display: inline;
    color: #ffffff;
    font-size: 18px;

    margin: 0;
    padding-bottom: 5px;
}

.messageTimestamp {
    display: inline;
    color: #8f8f8f;
    font-size: 12px;

    margin: 0;
    padding-left: 7px;
}

.messageContent {
    float: left;
    clear: both;
    width: fit-content;
    word-break: break-word;
    color: #dddddd;
    font-size: 16px;
    font-weight: normal;

    margin: 0;
}

/* Channel selection */
#channelSelect {
    display: flex;
    flex-direction: column;
}

.channel {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Users Containers */

.userDisplayName {
    font-size: calc(50px / 2);
    margin: 0px;
    padding-left: 8px;
    text-align: left;
}

.userMotdDisplay {
    font-size: calc(50px / 3);
    margin: 0px;
    padding-left: 20px;
    text-align: left;
    color: #9f9f9f;
}

/* User Profile */
#motdInput {
    background-color: #4a4a4a;
    color: #ffffff;

    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 7px;
    padding: 5px;
    margin: 0px;
    margin-top: 5px;
}

#userProfile {
    padding: 15px;
}

/* Right Display */
#usersHeader {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}

#displayAllUsers {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Top Display */
#titleContainer {
    background-color: #111111;
    padding: 8px;
    display: grid;
    grid-template-columns: auto auto 1fr;
}

#title {
    margin: 0px;
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
    font-weight: bold;
}

#signOut {
    color: #ff3b3b;
    margin: 0px;
    text-align: right;
    font-size: 18px;
    padding-right: 10px;
    font-weight: bold;
    cursor: pointer;
}

#displayChannel {
    font-size: 25px;
    margin: 0px;
    padding: 10px;
    padding-left: 20px;
}

#displayChannelDesc {
    color: #e0e0e0;
    font-size: 15px;
    margin: auto 0;
    padding-left: 15px;
    text-align: left;
}

/* Scrollbar */

    /* width */
    ::-webkit-scrollbar {
        width: 18px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #454545;
        border-radius: 9px;
        background-clip: padding-box;
        border: 4px solid transparent;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #4a4a4a;
        border-radius: 9px;
        background-clip: padding-box;
        border: 4px solid transparent;
    }

    /* Corner */
    ::-webkit-scrollbar-corner {
        background-color: transparent;
    }
